.settingsPage {
  padding: 24px 0;
  height: calc(100vh - var(--mainwin-mainarea-topoffset));
  box-sizing: border-box;
  padding-left: 48px;
  padding-right: 48px;
}

.settingBlock {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 0;

  & + .settingBlock {
    margin-top: 24px;
  }
}

.blockTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-purewhite);
  margin-bottom: 8px;
}

@listRadius: 6px;
@borderColor: rgba(255, 255, 255, 0.1);

.typedItem {
  height: 64px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-purewhite);
  border: 1px solid @borderColor;
  border-top: none;

  &.pointer {
    cursor: pointer;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.1);
    border-color: @borderColor;
    border-color: transparent;
  }

  &:first-child {
    border-top: 1px solid @borderColor;
    border-top-left-radius: @listRadius;
    border-top-right-radius: @listRadius;
  }

  &:last-child {
    border-bottom-left-radius: @listRadius;
    border-bottom-right-radius: @listRadius;
  }

  .itemArrow {
    > img {
      width: 20px;
      height: 20px;
    }
  }
}

.itemLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 12px;

  .itemIcon + .itemName {
    margin-left: 12px;
  }

  .itemIcon {
    width: 20px;
    height: 20px;
  }
}

.dangerText {
  color: rgb(229 29 29 / 70%);
  font-weight: bold;
}
