.dapps {
  user-select: none;
  .dapp-matrix {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  // &.J_add

  .dapp-block {
    position: relative;
    cursor: pointer;
    min-width: 270px;
    width: 100%;

    background: linear-gradient(91.8deg, #fefefe 0%, #e2e4ed 100%);
    box-shadow: 0px 24px 32px -10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    &.ant-dropdown-open,
    &:hover {
      // background-color: rgba(var(--color-primary-rgb), 0.2);
      background: linear-gradient(
          0deg,
          rgba(134, 151, 255, 0.2),
          rgba(134, 151, 255, 0.2)
        ),
        linear-gradient(91.8deg, #fefefe 0%, #e2e4ed 100%);
    }

    &.is-add,
    .anchor {
      padding: 24px;
    }

    .dapp-favicon {
      width: 32px;
      height: 32px;
      margin-right: 12px;
      border-radius: 50%;
    }

    &.is-add {
      cursor: pointer;
      justify-content: flex-start;

      .dapp-favicon {
        margin-right: 24px;
      }

      .text {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: var(--color-primary);
      }
    }
  }

  .dapp-block .anchor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .trancute {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .dapp-block .anchor .infos {
    overflow: hidden;
    .dapp-alias {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-title);
      margin-bottom: 0;
      .trancute;
    }
    .dapp-url {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: var(--color-paragraph);
      .trancute;
    }

    .dapp-alias + .dapp-url {
      margin-top: 4px;
    }
  }

  .dapp-block .menu-entry {
    visibility: hidden;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    &.is-pinned {
      visibility: visible;
    }
  }

  .dapp-block:hover .menu-entry {
    visibility: visible;
  }
}

.dapps-dropdown-operations {
  .ant-dropdown-menu {
    background: var(--color-purewhite);

    box-shadow: 0px 8px 32px rgba(19, 20, 26, 0.08);
    border-radius: 8px;
    padding: 8px 0;
    user-select: none;
  }
  .ant-dropdown-menu-item-icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }

  .dapp-dropdown-item {
    padding: 12px 16px;
    border-radius: 4px;
    min-width: 140px;
    &.J_delete:hover {
      background-color: rgba(236, 81, 81, 0.1);
    }
    .text {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;

      color: var(--color-title);
    }

    &.J_delete .text {
      color: var(--color-red);
    }
  }
}

@media screen and (min-width: 1150px) {
  .dapps {
    .dapp-matrix {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1400px) {
  .dapps {
    .dapp-matrix {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1690px) {
  .dapps {
    .dapp-matrix {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1980px) {
  .dapps {
    .dapp-matrix {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: 2270px) {
  .dapps {
    .dapp-matrix {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }
    .dapp-block {
      width: 270px;
    }
  }
}
