.page {
  position: relative;
  overflow: overlay;

  .account {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .addDapp {
    position: fixed;
    right: 48px;
    bottom: 68px;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0px 8px 24px rgba(54, 67, 145, 0.21);
    z-index: 99;
  }

  .header {
    padding: 4px 48px 24px;

    .title {
      font-weight: 510;
      font-size: 28px;
      line-height: 33px;

      color: #ffffff;
      margin-bottom: 11px;
    }

    .desc {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;

      color: rgba(255, 255, 255, 0.6);

      display: flex;
      align-items: center;
      gap: 6px;
    }
  }
  .main {
    height: calc(100vh - 112px - var(--mainwin-mainroute-topoffset));
    padding: 20px 48px;
    overflow: overlay;
  }
}
