@import "../../css//vars.less";

#homepage {
  padding: 0 @HOME_PADDING;
  padding-top: 56px;
  width: 100%;
  box-sizing: border-box;

  header {
    height: 28px;

    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: var(--color-title);
    }
  }

  main {
    max-height: 676px;
    padding: 20px 0;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    border-top: 1px solid var(--color-line);
    height: 60px;
  }

  img.logo {
    height: 30px;
  }

  .version-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: var(--color-comment1);
  }
}

.dapps {
  .dapp-matrix {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
  }

  .dapp-block-wrapper {
    width: (1 / 3) * 100%;
    max-width: 330px;
    box-sizing: border-box;
    padding-left: 24px;
    padding-top: 24px;

    &.J_add .dapp-block {
      cursor: pointer;
      justify-content: flex-start;

      .dapp-favicon {
        margin-right: 24px;
      }

      .text {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: var(--color-primary);
      }
    }
  }

  .dapp-block {
    position: relative;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    height: 100px;

    background: rgba(134, 151, 255, 0.2);
    border-radius: 8px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;

    .dapp-favicon {
      width: 52px;
      height: 52px;
      margin-right: 16px;
    }
  }

  .dapp-block .anchor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .dapp-block .anchor .infos {
    .dapp-alias {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: var(--color-title);
      margin-bottom: 0;
    }
    .dapp-url {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: var(--color-paragraph);
    }

    .dapp-alias + .dapp-url {
      margin-top: 4px;
    }
  }

  .dapp-block .menu-entry {
    visibility: hidden;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    background-color: var(--color-bg);
  }

  .dapp-block:hover .menu-entry {
    visibility: visible;
  }
}

.dapps-dropdown-operations {
  .ant-dropdown-menu {
    background: var(--color-purewhite);
    box-shadow: 0px 8px 32px rgba(19, 20, 26, 0.08);
    border-radius: 8px;
    padding: 8px;
    user-select: none;
  }

  .dapp-dropdown-item {
    border-radius: 4px;
    &.J_delete:hover {
      background-color: rgba(236, 81, 81, 0.1);
    }
    .text {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;

      color: var(--color-title);
    }

    &.J_delete .text {
      color: var(--color-red);
    }
  }
}
