# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX
.DS_Store

release/app/dist
release/build
release/build-*
release/*.exe*
release/*.dmg*
release/mac-*
release/rabbyx

.erb/dll

.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts

*/desktop_shell/*
*/chrome_exts/*
assets/*.zip

tmp.iconset

minio-root

macos/vendor/*
