
:root {
  /* -------------------- base define -------------------- */
  --rabby-dark-brand-default: rgba(112, 132, 255, 1);
  --rabby-dark-blue-default: rgba(112, 132, 255, 1);
  --rabby-dark-blue-light: rgba(112, 132, 255, 0.1);
  --rabby-dark-blue-disable: rgba(112, 132, 255, 0.3);
  --rabby-dark-green-default: rgba(42, 187, 127, 1);
  --rabby-dark-green-light: rgba(42, 187, 127, 0.2);
  --rabby-dark-orange-default: rgba(255, 198, 74, 1);
  --rabby-dark-orange-light: rgba(255, 198, 74, 0.2);
  --rabby-dark-red-default: rgba(239, 92, 72, 1);
  --rabby-dark-red-light: rgba(239, 92, 72, 0.2);
  --rabby-dark-red-dark: rgba(174, 42, 25, 1);
  --rabby-dark-red-light2: rgba(174, 42, 25, 0.2);
  --rabby-dark-red-light-2: rgba(174, 42, 25, 0.2);
  --rabby-dark-neutral-title1: rgba(247, 250, 252, 1);
  --rabby-dark-neutral-title-1: rgba(247, 250, 252, 1);
  --rabby-dark-neutral-body: rgba(211, 216, 224, 1);
  --rabby-dark-neutral-foot: rgba(186, 190, 197, 1);
  --rabby-dark-neutral-line: rgba(255, 255, 255, 0.1);
  --rabby-dark-neutral-bg1: rgba(61, 66, 81, 1);
  --rabby-dark-neutral-bg-1: rgba(61, 66, 81, 1);
  --rabby-dark-neutral-bg2: rgba(61, 66, 81, 1);
  --rabby-dark-neutral-bg-2: rgba(61, 66, 81, 1);
  --rabby-dark-neutral-bg3: rgba(247, 250, 252, 1);
  --rabby-dark-neutral-bg-3: rgba(247, 250, 252, 1);
  --rabby-dark-neutral-card1: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card-1: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card2: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card-2: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card3: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card-3: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-title2: rgba(255, 255, 255, 1);
  --rabby-dark-neutral-title-2: rgba(255, 255, 255, 1);
  --rabby-dark-neutral-black: rgba(0, 0, 0, 1);
}

html, body {
  /* -------------------- default dark mode -------------------- */
  --r-brand-default: var(--rabby-dark-brand-default);
  --r-blue-default: var(--rabby-dark-blue-default);
  --r-blue-light: var(--rabby-dark-blue-light);
  --r-blue-disable: var(--rabby-dark-blue-disable);
  --r-green-default: var(--rabby-dark-green-default);
  --r-green-light: var(--rabby-dark-green-light);
  --r-orange-default: var(--rabby-dark-orange-default);
  --r-orange-light: var(--rabby-dark-orange-light);
  --r-red-default: var(--rabby-dark-red-default);
  --r-red-light: var(--rabby-dark-red-light);
  --r-red-dark: var(--rabby-dark-red-dark);
  --r-red-light2: var(--rabby-dark-red-light2);
  --r-red-light-2: var(--rabby-dark-red-light-2);
  --r-neutral-title1: var(--rabby-dark-neutral-title1);
  --r-neutral-title-1: var(--rabby-dark-neutral-title-1);
  --r-neutral-body: var(--rabby-dark-neutral-body);
  --r-neutral-foot: var(--rabby-dark-neutral-foot);
  --r-neutral-line: var(--rabby-dark-neutral-line);
  --r-neutral-bg1: var(--rabby-dark-neutral-bg1);
  --r-neutral-bg-1: var(--rabby-dark-neutral-bg-1);
  --r-neutral-bg2: var(--rabby-dark-neutral-bg2);
  --r-neutral-bg-2: var(--rabby-dark-neutral-bg-2);
  --r-neutral-bg3: var(--rabby-dark-neutral-bg3);
  --r-neutral-bg-3: var(--rabby-dark-neutral-bg-3);
  --r-neutral-card1: var(--rabby-dark-neutral-card1);
  --r-neutral-card-1: var(--rabby-dark-neutral-card-1);
  --r-neutral-card2: var(--rabby-dark-neutral-card2);
  --r-neutral-card-2: var(--rabby-dark-neutral-card-2);
  --r-neutral-card3: var(--rabby-dark-neutral-card3);
  --r-neutral-card-3: var(--rabby-dark-neutral-card-3);
  --r-neutral-title2: var(--rabby-dark-neutral-title2);
  --r-neutral-title-2: var(--rabby-dark-neutral-title-2);
  --r-neutral-black: var(--rabby-dark-neutral-black);
}
