:root {
  --mainwin-sidebar-w: 200px;
  --mainwin-rabbyx-popup-w: 400px;

  --switch-account-button-w: 200px;

  --dappViewPaddingOffsetToSidebar: 22px;

  --dappsViewLeftOffset: 222px;

  --mainwin-mainarea-topoffset: 0;
}

html.os-win32,
body.os-win32 {
  --mainwin-mainarea-topoffset: 32px;
}
