:root {
  --mainwin-sidebar-w: 160px;
  --mainwin-rabbyx-popup-w: 400px;

  --switch-account-button-w: 200px;

  --dappViewPaddingOffsetToSidebar: 10px;

  --mainwin-sidebar-collapsed-w: 66px;

  --mainwin-mainarea-topoffset: 0px;
}

html.os-win32,
body.os-win32 {
  --mainwin-mainarea-topoffset: 32px;
}
