:root {
  --mainwin-sidebar-w: 160px;
  --mainwin-rabbyx-popup-w: 400px;
  --switch-account-button-w: 200px;

  --dappViewPaddingOffsetToSidebar: 10px;
  --dappViewPaddingOffset: 10px;

  --mainwin-sidebar-collapsed-w: 66px;
  --mainwin-sidebar-animation-second: 0.5s;

  --mainwin-mainroute-topoffset: 0px;

  --mainwin-headerblock-offset: 64px;

  --mainwin-headerblock-floating-account-comp-w: 320px;

  --mainwin-mainroute-height: calc(100vh - var(--mainwin-mainroute-topoffset));
}

html.os-win32,
body.os-win32 {
  --mainwin-mainroute-topoffset: 32px;
}
