.maskInGasket {
  left: 0;
}

:global {
  html.__rabbyx-shell-page.os-darwin {
    :local {
      .maskInGasket {
        -webkit-app-region: drag;
        z-index: 1;
        width: calc(100vw - var(--mainwin-rabbyx-popup-w));
      }
    }
  }
}

.maskInGasket {
  position: relative;
}
