.maskInGasket {
  left: 0;
}

:global {
  html.__rabbyx-shell-page.os-darwin {
    :local {
      .macOSDragger {
        content: " ";
        position: fixed;
        top: 0;
        left: 0;
        height: var(--mainwin-headerblock-offset);
        width: 100%;
        -webkit-app-region: drag;
        z-index: 1;
      }
    }
  }
}

.maskInGasket {
  position: relative;
}
