.renameModal {
  :global {
    .ant-modal-body {
      padding: 56px 48px 48px 48px;
      height: 400px;
    }
    .ant-modal-close-x {
      font-size: 24px;
    }
  }
}

.renameDapp {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  .dappFavicon {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .dappUrl {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 24px;

    text-align: center;
    color: var(--color-title);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .modifyWrapper {
    display: flex;
    position: relative;

    .aliasInput {
      background: var(--color-bg);
      border: 1px solid var(--color-primary);
      border-radius: 8px;
      height: 100%;
      padding: 18px 16px;

      font-weight: 500;
      font-size: 16px;
      color: var(--color-title);
      height: 56px;
    }
    margin-bottom: 45px;
  }

  .confirmBtn {
    width: 240px;
    height: 56px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
}
