.renameModal {
  :global {
    .ant-modal-body {
      padding: 56px 48px 48px 48px;
      height: 400px;
    }
    .ant-modal-close-x {
      font-size: 24px;
    }
  }
}

.renameDapp {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  .dappFavicon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    border-radius: 4px;
  }

  .dappUrl {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 24px;

    text-align: center;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .modifyWrapper {
    display: flex;
    position: relative;

    .aliasInput {
      background: rgba(255, 255, 255, 0.1) !important;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      height: 64px;
      padding: 16px 24px;
      &:focus,
      &:hover {
        border: 1px solid rgba(255, 255, 255, 0.1) !important;
      }
      color: #fff;
    }
    margin-bottom: 45px;
  }

  .confirmBtn {
    width: 240px;
    height: 52px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    background-color: #707280 !important;
    border: none;
  }
}
