<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="
        default-src rabby-internal: rabby-ipfs: 'self' 'unsafe-inline' http: https: ws: wss: data:;
      "
    />
    <link rel="stylesheet" href="rabby-internal://assets/fonts/index.css" />
    <title>Rabby Desktop</title>
    <script src="./vendor/matomo.client.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
