.unlock {
  display: flex;
  height: 100%;
}

.row {
  flex: 1;
}

.container {
  text-align: center;
  margin-top: -100px;

  .logo {
    width: 160px;
  }

  .title {
    color: #fff;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .input {
    border-radius: 90px;
    height: 64px;
    max-width: 560px;
    width: 100%;
    padding: 0 0 0 24px;
    font-size: 15px;

    &::placeholder {
      font-weight: 500;
    }
  }
}

.button {
  padding: 0;
  height: 40px;
  margin-right: 12px;
}
