.mainWindow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.welcomeScreen {
  user-select: none;
}

.ImportPage {
  user-select: none;
  height: 100%;
}

.dappViewGasket {
  background: #ffeef9;
  height: 100%;
  margin-left: var(--dappViewPaddingOffsetToSidebar);
}
