.mainWindow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.welcomeScreen {
  user-select: none;
}

.ImportPage {
  user-select: none;
  height: 100%;
}

.dappViewWrapper {
  padding: var(--dappViewPaddingOffsetToSidebar);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.dappViewGasket {
  background: #ffeef9;
  flex-shrink: 1;
  border-radius: 0 6px 6px 6px;
  height: 100%;
  max-height: calc(100% - var(--dappViewPaddingOffsetToSidebar) - 70px);
}

:global {
  .rabbyx-tx-changed-tip .ant-message-notice-content {
    background: #606574;
    color: white;
    box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
  }
}
