.mainWindow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.welcomeScreen {
  user-select: none;
}

.ImportPage {
  user-select: none;
  height: 100%;
}

.dappViewGasket {
  background: #ffeef9;
  height: 100%;
  margin-left: var(--dappViewPaddingOffsetToSidebar);
}

:global {
  .rabbyx-tx-changed-tip .ant-message-notice-content {
    background: #606574;
    color: white;
    box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
  }
}
