@import '../../css/mixins.less';

.MainWindowRoute {
  position: relative;
  height: 100%;
  max-height: var(--mainwin-mainroute-height);
  width: 100%;
  overflow-y: overlay;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

@headerBlockOffset: 10px;

.headerBlock {
  padding-top: @headerBlockOffset;
  height: var(--mainwin-headerblock-offset);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;

  &.titleLess {
    position: absolute;
    width: 100%;

    .accountComponent {
      position: absolute;
      top: 10px;
      right: 0;
    }
  }

  .pageTitle {
    align-self: flex-end;
    padding-left: 48px;
  }

  .accountComponent {
    padding-right: @headerBlockOffset;
    align-self: flex-start;
  }
}

.pageTitle {
  font-weight: 500;
  font-size: 28px;
  color: white;
  margin-bottom: 0;
}
