@import '../../css/mixins.less';
@import '../../css/vars.less';

@route-item-h: 52px;

.Sidebar {
  position: relative;
  padding-top: @TITLEBAR_H;

  width: var(--mainwin-sidebar-w);
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.1);

  display: flex;
  flex-direction: column;
  overflow: overlay;
}

.logoWrapper {
  width: 100%;
  // leave space for titlebar, avoid draggable region overlap
  height: 124px - @TITLEBAR_H;
  .global-draggable();

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  > .logo {
    width: 64px;
    height: 64px;
  }
}

.routeList {
  list-style-type: none;
  padding-left: 0;
  .global-draggable();
  margin-bottom: 0;

  @active-border-w: 4px;

  .routeItem {
    height: @route-item-h;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border-left: 4px solid transparent;
    padding-left: 28px;

    font-size: 14px;
    color: #fff;
    .global-draggable(false);

    &.active {
      background: rgba(0, 0, 0, 0.2);
      border-left-color: var(--color-primary);
    }
    &:not(.active):hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  img.routeLogo {
    width: 20px;
    height: 20px;
    &.isDapp {
      border-radius: 50%;
    }

    & + .routeTitle {
      margin-left: 12px;
    }
  }

  &.isDapp img.routeLogo {
    border-radius: 50%;
  }

  .routeItemInner {
    width: 100%;
    box-sizing: border-box;
    height: @route-item-h;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .routeTitle {
    -webkit-line-clamp: 1;
    line-height: 1;

    word-break: break-all;
    height: 14px;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 32px;
  }

  .routeItemInner {
    position: relative;
    .indicator {
      position: absolute;
      top: 23px;
      left: -19px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: var(--color-purewhite);
    }
    img.iconClose {
      cursor: pointer;
      position: absolute;
      top: calc(50% - 10px);
      right: 8px;
      visibility: hidden;
    }

    &:hover img.iconClose {
      visibility: visible;
    }
  }
}

.divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  margin: 8px 32px;
}

.navFooter {
  margin-top: auto;
  padding-bottom: 40px;

  .update {
    padding: 8px 16px;
    :global {
      .ant-btn {
        height: 52px;
        border-radius: 8px;
        font-weight: 510;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;

        img {
          margin-right: 12px;
        }
      }
    }
  }
}
