.empty {
  margin-top: 148px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;

  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 60px 0 72px 0;

  &Title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #ffffff;
    margin-bottom: 16px;
  }

  &Desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;

    opacity: 0.8;
  }
}
