.QuickSwapWindow {

}

.mask {
  z-index: 0;
}

.container {
  position: fixed;
  right: 0;
  top: 64px + 12px;
  height: 626px;
  width: 337px;

  background-color: var(--color-purewhite);
  border-radius: 14px;
}
