@import './theme/index.css';

.ellipsis() {
  .truncate;
}

.truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.global-draggable(@could: true) {
  -webkit-app-region: if(@could = false, none, drag);;
}

.global-nodrag() {
  -webkit-app-region: none;
}

@chromelike-scrollbar-w: 5px;
@chromelike-scrollbar-max-w: 10px;

.chrome-like-scrollbar() {
  &::-webkit-scrollbar {
    width: @chromelike-scrollbar-w;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #5D626F;
  }

  &::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: transparent;
  }
}

.chrome-like-scollbar-hover-wider() {
  &::-webkit-scrollbar {
    transition: width 0.3s;
  }
  &:hover::-webkit-scrollbar {
    width: @chromelike-scrollbar-max-w;
  }
}

.rabby-input() {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: none !important;
  border-radius: 4px;
  height: 40px;
  padding: 10px;
  font-size: 17px;
  line-height: 20px;

  color: #ffffff;

  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.titlebar-like(@t-height: 32px) {
  @rabby-titlebar-h: @t-height;

  .titlebar {
    width: 100%;
    height: @rabby-titlebar-h;
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }

  .titlebar.os-darwin {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: var(--mainwin-sidebar-w);
    height: @rabby-titlebar-h;
    .global-draggable;

    .app-drag {
      height: 10px;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .titlebar.os-win32 {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .app-drag {
    flex: 1 0 auto;
    -webkit-app-region: drag;
    min-width: 2rem;
    align-self: flex-end;
    height: 100%;
  }
}

.chromelike-scrollbar(@bar-width: 6px) {
  &::-webkit-scrollbar {
    width: @bar-width;
    background-color: #fafafa;
    padding-left: 1px;
    padding-right: 1px;
  }
  &::-webkit-scrollbar-thumb {
    // background-color: #c1c1c1;
    background-color: rgba(193, 193, 193, 0.7);
    border-radius: 4px;
  }
}

.child-has-chromelike-scrollbar(@bar-width: 6px) {
  * {
    .chromelike-scrollbar(@bar-width);
  }
}

.light-style-disabled-btn() {
  &:hover,
  &:focus,
  &:active,
  & {
    background: rgba(134, 151, 255, 0.4);
    border-color: transparent;
  }
}
