@import './theme/index.css';

@primary-color: #7084ff;
// @primary-color: #1890ff;
// @link-color: #1890ff;
// @success-color: #52c41a;
// @warning-color: #faad14;
// @error-color: #f5222d;
// @font-size-base: 14px;
// @heading-color: rgba(0, 0, 0, 0.85);
// @text-color: rgba(0, 0, 0, 0.65);
// @text-color-secondary: rgba(0, 0, 0, 0.45);
// @disabled-color: rgba(0, 0, 0, 0.25);
// @border-radius-base: 2px;
// @border-color-base: #d9d9d9;
// @box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
//   0 9px 28px 8px rgba(0, 0, 0, 0.05);

@btn-disable-color: var(--color-disabled-text);
@btn-disable-bg: var(--color-disabled-bg);
@btn-disable-border: transparent;

@item-hover-bg: var(--color-bg);

.ant-input {
  border-radius: 6px;

  &[type='password'] {
    letter-spacing: 4px;

    &::placeholder {
      letter-spacing: normal;
    }
  }
}

.ant-input-affix-wrapper > input.ant-input {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}

.ant-btn-primary {
  &:hover,
  &:focus {
    background-color: @primary-color;
    border-color: @primary-color;
    box-shadow: 0px 16px 40px rgba(29, 35, 74, 0.2);
  }

  &:focus {
    box-shadow: none;
  }
}
.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:active {
  background: @primary-color;
  opacity: 0.4;
}

/*---------------------
      Checkbox
---------------------*/
.ant-checkbox {
  border-radius: 100%;
  overflow: hidden;

  .ant-checkbox-inner {
    border: none;
    background-color: var(--color-border);
  }
}

.ant-checkbox-checked {
  .ant-checkbox-inner {
    background-color: #8697ff;
  }

  &::after {
    border-color: #8697ff;
  }
}

.ant-skeleton-element {
  line-height: 1;

  .ant-skeleton-input {
    min-width: auto;
  }
}

.ant-tooltip {
  .ant-tooltip-inner {
    font-size: 12px;
    line-height: 14px;
    border-radius: 2px;
    padding: 5px 10px;
    height: auto;
    min-height: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .ant-tooltip-arrow-content {
    &::before {
      background: rgba(0, 0, 0, 0.9);
    }
  }
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-support-darkmode,
.modal-support-darkmode.ant-modal-confirm-error,
.modal-support-darkmode.rabby-modal {
  .ant-modal-header,
  .ant-modal-content,
  .ant-modal-content {
    background: var(--r-neutral-bg-1, #3d4251);
  }

  .ant-modal-confirm-body .ant-modal-confirm-content {
    // background-color: var(--r-neutral-card-2, rgba(255, 255, 255, 0.06));
    // background: var(--r-neutral-bg-1, #3D4251);
  }

  .ant-modal-confirm-title,
  .ant-modal-confirm-body .ant-modal-confirm-title,
  .ant-modal-confirm-body .ant-modal-confirm-content {
    color: var(--r-neutral-title-1, #f7fafc);
  }

  .ant-modal-close-x .anticon-close svg {
    color: var(--r-neutral-foot, #6a7587);
  }
}
.am-revoke-info-modal {
  .ant-modal-content {
    width: 400px;
    height: 232px;
    border-radius: 12px;
  }

  .ant-modal-body {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 32px;
    padding-left: 0;
    padding-right: 0;
  }

  .ant-modal-confirm-title {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .ant-modal-confirm-content {
    margin-top: 0;
    padding: 16px 20px 40px;
    font-size: 15px;
    line-height: 18px;
  }

  .ant-modal-confirm-btns {
    padding: 0 40px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      border-radius: 6px;
    }
  }

  .ant-modal-close-x {
    width: 44px;
    height: 44px;
  }
}
