@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@import './vars.less';
@import './overwrite-antd.less';

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  font-family: var(--default-font);
  box-sizing: border-box;
}

body {
  margin: 0;
}

.modal-dapp-mngr {
  .ant-modal-close-x {
    @size: 64px;

    width: @size;
    height: @size;
    line-height: @size;
    font-size: 24px;
  }

  .ant-modal-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 0;
  }

  .ant-modal-content {
    background: var(--color-purewhite);
    box-shadow: 0px 8px 80px rgba(19, 20, 26, 0.21);
    border-radius: 12px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.global-dragheadbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  z-index: 1;
  -webkit-app-region: drag;
}

.global-nodrag, [data-nodrag] {
  -webkit-app-region: no-drag;
}


.ant-message {
  .ant-message-notice-content,
  .mainwindow-default-tip .ant-message-notice-content,
  .rabbyx-tx-changed-tip .ant-message-notice-content {
    background: #606574;
    color: white;
    box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
  }
}
