@import './theme/index.css';

@HOME_PADDING: 200px;
@DASHBOARD_W: 1280px - 2 * @HOME_PADDING;

@TITLEBAR_H: 32px;

@color-bg: #f5f6fa;
@color-border: #e5e9ef;
@color-comment: #707280;
@color-comment-1: @color-comment;
@color-title: #13141a;
