.ImportSuccessful {
  padding-top: 100px;
  display: flex;

  .container {
    margin: auto;
    text-align: center;
  }

  .iconWrap {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 136px;
    height: 136px;
    margin: 0 auto 24px;
    display: flex;
  }

  .icon {
    margin: auto;
  }

  .title {
    color: #fff;
    margin-bottom: 32px;
    font-size: 32px;
  }

  .addressList {
    margin-bottom: 200px;
  }
}
