.TopGhostWindow {
  overflow: hidden;
  height: 100vh;
}

.winWrapper {
  width: 100%;
  height: 100%;

  :global {
    .trigger-ele-placeholder {
      &.isDebug {
        outline: 1px solid rgba(var(--color-primary-rgb), 0.5);
      }
      &:not(.isDebug) {
        visibility: hidden;
        background: transparent;
        color: transparent;
      }
    }
  }
}

:global {
  .win-top-ghost-window {
    width: 100%;
    height: 100%;
  }

  .win-top-ghost-window.isDebug {
    background-color: rgba(var(--color-primary-rgb), 0.2);
  }

  .ant-tooltip {
    .ant-tooltip-inner {
      background-color: rgba(0, 0, 0, 1);
    }

    .ant-tooltip-arrow-content {
      &::before {
        background: rgba(0, 0, 0, 1);
      }
    }
  }

  .custom-rpc-tooltip {
    &.avaliable {
      .ant-tooltip-inner {
        &::before {
          background-color: #27c193;
        }
        color: #27c193;
      }
    }
    &.unavaliable {
      .ant-tooltip-inner {
        &::before {
          background-color: #ec5151;
        }
        color: #ec5151;
      }
    }
    .ant-tooltip-inner {
      padding: 10px;
      // display: flex;
      // align-items: center;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      min-width: 0;
      width: 100%;

      &::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        margin-right: 5px;
        flex-shrink: 0;
      }
    }
  }
}
