.LedgerModal {
  width: 432px;
  margin: auto;
  padding: 40px 0 52px;
  color: #fff;

  .error {
    background: rgba(255, 125, 125, 0.5);
    border-radius: 4px;
    padding: 16px 20px;

    .text  {
      margin-left: 8px;
      font-size: 15px;
    }
  }

  .icon {
    margin-right: 6px;
  }

  .devices {
    color: #fff;

    .title {
      font-size: 13px;
      font-weight: normal;
      margin-bottom: 18px;
      color: #fff;
      text-align: center;
    }
  }

  .device {
    background: rgba(134, 151, 255, 0.5);
    border-radius: 4px;
    padding: 16px 20px;
    font-size: 15px;
    display: flex;
  }


  .tipsContainer {
    text-align: center;
    margin: 40px auto 150px;
  }

  .tips {
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
  }

  .next {
    display: block;
    width: 250px;
    height: 52px;
    margin: auto;
  }
}
