.Menu {
  background-color: #525767;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 8px 0;
  box-shadow: 0px 24px 32px rgba(15, 27, 52, 0.14);
  list-style: none;

  .MenuItem {
    color: #fff;
    padding: 0;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.07);
      border-radius: 4px;
    }
  }

  .ItemName {
    padding: 12px 16px 12px 12px;
    display: block;
    flex: 1;
  }


  .Icon {
    width: 24px;
    height: 24px;
    margin-left: 12px;
  }
}

.NewAccountIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
