.AddressItem {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding: 16px;
  width: 480px;
  text-align: left;
  margin-bottom: 16px;



  .address {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 0.8;
    margin-top: 10px;
  }

  .editButton {
    padding: 0;
    height: 16px;
    width: 16px;
    margin-left: 6px;
    align-items: center;
    display: flex;
  }

  .icon {
    height: 16px;
    width: 16px;
    display: block;
  }

  .input {
    width: 280px;
    font-size: 17px;
    line-height: 20px;
    padding: 10px;
    font-weight: inherit;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    font-weight: 500;
    box-shadow: none!important;
  }
}
